@import 'assets/styles/reset';
@import 'assets/styles/fonts';
@import 'assets/styles/responsiveness';
@import 'primeng/resources/themes/lara-dark-teal/theme.css';
@import 'primeng/resources/primeng.css';
@import "primeicons/primeicons.css";

html,
body {
  display: block;
  height: 100%;
  width: 100%;
  font-family: Rajdhani, sans-serif;
  font-weight: 400;
  color: white;
}
