@import 'assets/styles/reset';
@import 'assets/styles/fonts';

html,
body {
  display: block;
  height: 100%;
  width: 100%;
  font-family: Rajdhani, sans-serif;
  font-weight: 400;
  color: white;
}
